<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsp/jstl/core">

	<h:head>
		<title>Log in</title>
	</h:head>
	
	<h:body>
		<h:form>
			<h:outputLabel value="Name" for="name" />
			<h:inputText id="name"
						size="20"
						value="#{customer.name}"/>
			<h:outputLabel value="Password" for="password"/>
			<h:inputSecret type="password"
							id="password"
							size="20"
							value=""/>
			<h:commandButton type="submit" value="Login" />
		</h:form>
	</h:body>	
</html>